<html>
  <head>
    <title>Medicine Sentiment Analysis</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
      window.onload = function () {
      	var chart = new CanvasJS.Chart("chartContainer",
      	{
      		title:{
      			text: "Opinions",
      			verticalAlign: 'top',
      			horizontalAlign: 'center'
      		},
                      animationEnabled: true,
      		data: [
      		{
      			type: "doughnut",
      			startAngle:20,
      			toolTipContent: "{label}: {y} - <strong>#percent%</strong>",
      			indexLabel: "{label} #percent",
      			dataPoints: [
      				{  y: 67, label: "Happy" },
      				{  y: 28, label: "Sad" },
      				{  y: 10, label: "Angry" },
      				{  y: 7,  label: "Fearful"},
      				{  y: 4,  label: "Disgusted"}
      			]
      		}
      		]
      	});
      	chart.render();
      }
    </script>
    <script type="text/javascript" src="/assets/script/canvasjs.min.js"></script>
  </head>
  <body>
    <div class="col-lg-6" margin-top="1em">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for...">
         <span class="input-group-btn">
           <button class="btn btn-info" type="button">Go!</button>
         </span>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  </body>
</html>
